{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix Inscription</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="text-center">
        <h2 class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"> Details d'incription</h2>
    </div>

    <div class="d-grid gap-2">
                <!--
                    Formulaire d'enregistrement d'une Cooperative
                    Ce cas sera gérée dans la mise a jour par les administrateurs qui auront comme actions : 
                        => Ajouter une cooperative
                        => Supprimer une cooperative
                        => Modifier les infromations d'une cooperative
                -->
                        <!--
            <a href="{% url 'cooperative_inscription'%}"class="btn btn-outline-primary" >
                Inscription d'une cooperative
            </a>
            -->
            <!-- Formulaire d'enregistrement d'un membres-->
                <!--
            <a href="{% url 'inscrire_membre' %}" class="btn btn-outline-primary">
                Incription d'un membre 
            </a>
            -->
                <!--
                    Dans la mise a jour chaque membre aura sa propre interface de connexion qui sera automatiquement
                    connecter via son numero d'identifaction composé de chiffres et de lettres !
                -->
            <!-- Lister tous les membres enregistrées dans la base de données-->
                <!--
                    Dans la mise a jour chaque membre aura sa propre interface de connexion qui sera automatiquement
                    connecter via son numero d'identifaction composé de chiffres et de lettres !
                -->
        <!--
            <a href="{% url 'liste_membre' %}" class="btn btn-outline-primary">
                Lister les membres
            </a>
        -->
            <!-- Lister toutes les cooperatives enregistrées dans la base de données-->
            <!--
            <a href="{% url 'listes_cooperative' %}" class="btn btn-outline-primary"> 
                Lister les cooperatives
            </a>
            -->
            <a href="{% url 'register' %}" class="btn btn-outline-primary">
                Je veux être membre
            </a>
            <!-- Formulaire d'enregistrement d'un administrateur-->
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary">
                Je suis administrateur
            </a>
    </div>

    <div class="mt-3">
        <a href="{% url 'index'%}" class="btn btn-secondary">Retour</a>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}
