.env
# Ignore database files
db.sqlite3
# Ignore Django migration files
*/migrations/*

# Ignore log files
*.log

# Ignore VS Code settings
.vscode/

# Ignore media and static files (if applicable)
media/
staticfiles/

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore database files
db.sqlite3

# Ignore virtual environment
venv/
projetfinal/